<div class="flex flex-col lg:flex-row items-center m-8 gap-8">
  <div class="lg:w-1/2">
      <img src="histoire.jpeg" class="rounded-2xl w-full h-full object-cover">
  </div>
  <div class="lg:w-1/2 flex flex-col gap-2">
    <h1 class="font-bold text-green-brazil">Bienvenue dans l'univers de notre maté</h1>
    <p>
    Né de la rencontre entre deux passionnées du Brésil et de son art de vivre unique : <strong>Alice</strong> et <strong>Inès</strong>.
    </p>
    <p>
    <strong>Alice</strong>, franco-brésilienne, a grandi à São Paulo, au cœur de l’effervescence de cette métropole vibrante.
    Entre les rituels de partage du maté et l’énergie chaleureuse de la culture brésilienne, elle a toujours vu dans cette
    boisson bien plus qu’une simple infusion : un moment de convivialité et de bien-être qu'elle rêve de faire découvrir au monde entier.
    </p>
    <p>
    <strong>Inès</strong>, quant à elle, est tombée amoureuse du Brésil dès sa première visite. Entre les saveurs ensoleillées,
    les paysages à couper le souffle et l'esprit chaleureux des Brésiliens, elle a été conquise. Grande fan de maté et de sa capacité
    à rassembler les gens, elle a rêvé de partager cette expérience unique avec le plus grand nombre.
    </p>
    <p>
    Ensemble, elles ont décidé de donner vie à un projet qui leur ressemble : une marque autour du maté qui ne fait pas que vendre une boisson,
    mais qui raconte une histoire, celle d’un voyage, d’une culture et d’un art de vivre. Leur mission ? Vous faire découvrir un produit authentique,
    bon pour vous et pour la planète, tout en insufflant un peu de cette énergie brésilienne dans votre quotidien.
    </p>
    <p>
    <strong>Rejoignez l’aventure</strong> et laissez-vous embarquer dans un voyage sensoriel et humain, porté par le sourire et la passion d’Alice et Inès.
    Parce que le maté, c’est bien plus qu’une boisson : c’est un mode de vie, une invitation au partage et au plaisir simple. 🌴
    </p>
  </div>
</div>
