<div class="m-24 text-green-brazil ">
  <h1 class="text-2xl font-bold m-4 mb-12">Contacts</h1>
  <div class="flex">
    <div class="m-4">
      <hr/>
      <h2 class="my-4 text-thin">Vous voulez nous suivre ? En apprendre plus sur notre maté brésilien ?</h2>
      <p><a>&#64;praia.mate</a></p>
    </div>
    <div class="m-4">
      <hr/>
      <h2 class="my-4 text-thin">Vous souhaitez nous commander en exclusivité dans toute la France ?</h2>
      <p><a href="https://ulule.com/praiamate">notre campagne ulule</a></p>
    </div>
    <div class="m-4">
      <hr/>
      <h2 class="my-4 text-thin">Vous êtes un professionel ? Vous avez une question ?</h2>
      <p><a>praia.matedobrasil&#64;gmail.com</a></p>
    </div>
  </div>
</div>
