<div class="bg-gray-100 min-h-screen flex flex-col">
    <nav class="flex">
      <img ngSrc='/logo.svg' alt="logo" width="64" height="64">
      <a routerLink="/" class="py-4 px-8 underline underline-offset-12 hover:text-green-brazil hover:font-bold">accueil</a>
      <a routerLink="/product" class="py-4 px-8 underline underline-offset-12 hover:text-green-brazil hover:font-bold">le produit</a>
      <a routerLink="/history" class="py-4 px-8 underline underline-offset-12 hover:text-green-brazil hover:font-bold">notre histoire</a>
      <a routerLink="/blog" class="py-4 px-8 underline underline-offset-12 hover:text-green-brazil hover:font-bold">blog</a>
      <a routerLink="/contact" class="py-4 px-8 underline underline-offset-12 hover:text-green-brazil hover:font-bold">contact</a>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer *ngIf="!shouldHideFooter()" class="bg-green-brazil text-white h-28 flex justify-between items-center p-16">
      <div class="font-bold m-8">Pour nous contacter, c'est par ici!</div>
      <div class="m-8 font-thin"><a class="flex items-center gap-2"><i class="fab fa-instagram fa-2x"></i> &#64;ondamatedobrasil</a></div>
      <div class="m-8 font-thin"><a class="flex items-center gap-2"><i class="fas fa-envelope fa-2x"></i>ondamatedobrasil&#64;gmail.com</a></div>
    </footer>
</div>
