<div class="mx-12">
  <div class="m-16">
    <h1 class="font-bold text-green-brazil text-3xl mb-16">le produit</h1>
    <div class="flex">
      <img src="bottle-product.jpg" class="w-1/2">
      <div class="m-8 flex flex-col">
        <h2 class="font-bold text-green-brazil text-lg">onda maté, kézako ?</h2>
        <div class="flex flex-col">
          <div class="m-4">
            <div class="flex inline-flex m-4">
              <div class="text-white bg-green-brazil w-8 h-8 rounded-full inline-flex items-center justify-center">1</div>
              <h3 class="text-green-brazil text-md ml-4 font-bold inline-flex items-center justify-center"><span>la boisson carioca</span></h3>
            </div>
            <p class="ml-16 font-thin">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
          </div>
          <div class="m-4">
            <div class="flex inline-flex m-4">
              <div class="text-white bg-green-brazil w-8 h-8 rounded-full inline-flex items-center justify-center">2</div>
              <h3 class="text-green-brazil text-md ml-4 font-bold inline-flex items-center justify-center">la dose d'énergie dont on a besoin</h3>
            </div>
            <p class="ml-16 font-thin">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
          </div>
          <div class="m-4">
            <div class="flex inline-flex m-4">
              <div class="text-white bg-green-brazil w-8 h-8 rounded-full inline-flex items-center justify-center">3</div>
              <h3 class="text-green-brazil text-md ml-4 font-bold inline-flex items-center justify-center">une alternative saine</h3>
            </div>
            <p class="ml-16 font-thin">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
          </div>
        </div>
        <hr class="bg-green-brazil my-4"/>
        <div>
          <h2 class="font-bold text-green-brazil text-lg">ingrédients</h2>
          <p class="font-thin">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
        </div>
        <hr class="bg-green-brazil my-4"/>
        <div>
          <h2 class="font-bold text-green-brazil text-lg">notes de dégustation</h2>
          <p class="font-thin">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
        </div>
      </div>
    </div>
    <a class="bg-green-brazil text-white p-2 rounded-md text-sm m-4">pré-commander</a>
  </div>
  <div class="m-16">
    <h1 class="font-bold text-green-brazil text-xl">le maté</h1>
  </div>
  <div class="m-16">
    <h1 class="font-bold text-green-brazil text-xl">notre merch en édition limitée</h1>
  </div>
</div>
