<div class="mx-12">
  <div class="m-16">
    <h1 class="font-bold text-green-brazil text-3xl mb-16">le produit</h1>
    <div class="flex h-fit justify-center">
      <img src="bottle-product.jpg" class="w-1/2 aspect-square object-contain max-w-4xl">
      <div class="m-8 flex flex-col">
        <h2 class="font-bold text-green-brazil text-lg">praia maté, kézako ?</h2>
        <div class="flex flex-col">
          <div class="m-4">
            <div class="flex inline-flex m-4">
              <div class="text-white bg-green-brazil w-8 h-8 rounded-full inline-flex items-center justify-center">1</div>
              <h3 class="text-green-brazil text-md ml-4 font-bold inline-flex items-center justify-center"><span>la boisson carioca</span></h3>
            </div>
            <p class="ml-16 font-thin">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
          </div>
          <div class="m-4">
            <div class="flex inline-flex m-4">
              <div class="text-white bg-green-brazil w-8 h-8 rounded-full inline-flex items-center justify-center">2</div>
              <h3 class="text-green-brazil text-md ml-4 font-bold inline-flex items-center justify-center">la dose d'énergie dont on a besoin</h3>
            </div>
            <p class="ml-16 font-thin">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
          </div>
          <div class="m-4">
            <div class="flex inline-flex m-4">
              <div class="text-white bg-green-brazil w-8 h-8 rounded-full inline-flex items-center justify-center">3</div>
              <h3 class="text-green-brazil text-md ml-4 font-bold inline-flex items-center justify-center">une alternative saine</h3>
            </div>
            <p class="ml-16 font-thin">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
          </div>
        </div>
        <hr class="bg-green-brazil my-4"/>
        <div>
          <h2 class="font-bold text-green-brazil text-lg">ingrédients</h2>
          <p class="font-thin">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
        </div>
        <hr class="bg-green-brazil my-4"/>
        <div>
          <h2 class="font-bold text-green-brazil text-lg">notes de dégustation</h2>
          <p class="font-thin">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
        </div>
        <div class="hidden xl:block justify-text mt-8">
          <a class="bg-green-brazil text-white p-2 rounded-md text-md m-4">pré-commander</a>
        </div>
      </div>
    </div>
    <div class="w-1/2 justify-center xl:hidden">
      <a class="bg-green-brazil text-white p-2 rounded-md text-md m-4 mt-12">pré-commander</a>
    </div>
  </div>
  <div class="m-16">
    <h1 class="font-bold text-green-brazil text-xl">le maté est une boisson :</h1>
      <div class="flex justify-center text-center p-8 gap-8">
        <div class="flex flex-col items-center m-4">
          <img src="produit_traditionnelle.png" class="h-42 w-42 rounded-2xl mb-4">
          <h2 class="text-green-brazil font-bold p-1 py-2">Traditionnelle Sud-Américaine</h2>
          <p class="font-thin text-justify">Utilisé par les peuples indigènes guaranis, le maté a une histoire qui remonte à plusieurs siècles. Ces derniers utilisaient traditionnellement les feuilles de yerba maté pour leurs nombreux bienfaits.</p>
        </div>
        <div class="flex flex-col items-center m-4">
          <img src="produit_bresilienne.png" class="h-42 w-42 rounded-2xl mb-4">
          <h2 class="text-green-brazil font-bold p-1 py-2">Au centre de la culture brésilienne</h2>
          <p class="font-thin text-justify">À Rio le maté se boit froid et sucré, avec une touche de citron vert. On l'achète principalement aux vendeurs de plage, classés au patrimoine de la ville depuis 2012, mais on en trouve également au restaurant ou dans les bars.</p>
        </div>

        <div class="flex flex-col items-center m-4">
          <img src="produit_bienfaits.png" class="h-42 w-42 rounded-2xl mb-4">
          <h2 class="text-green-brazil font-bold p-1 py-2">Aux bienfaits nombreux</h2>
          <p class="font-thin text-justify">Le maté est reconnu pour ses nombreux bienfaits pour la santé, notamment sa capacité à fournir de l'énergie et à améliorer la concentration. Il contient également des antioxydants, des vitamines et des minéraux bénéfiques pour le corps.</p>
        </div>
      </div>
  </div>
  <div class="m-16">
    <h1 class="font-bold text-green-brazil text-xl">Le maté do Brasil, qu'est-ce que c'est ?</h1>
    <div class="flex items-center">
      <img src="mate_categories.png" class="w-1/2 aspect-square object-contain">
      <div class="font-thin p-8">
        <p>
          Quand on dit maté, beaucoup pensent au maté argentin au gout très amer, fait à base de feuilles vertes de yerba mate et consommé chaud avec la traditionnelle <span class="italic">bombilla</span>.
        </p>
        <br/>
        <p>
          Nous souhaitons vous faire découvrir le <span class="font-bold">maté brésilien</span>, qui lui se boit infusé chaud comme un thé ou bien <span class="font-bold">très frais</span>, avec du citron vert et des glaçons, et auquel la <span class="font-bold">torréfaction</span> apporte des notes plus douces et caramélisées. Après de nombreux essais pour recréer le maté de la plage de Rio que l'on aime tant, nous avons trouvé <span class="font-bold">la recette parfaite</span>, désaltérante et qui marie notes acidulées et torréfiées.
        </p>
      </div>
    </div>
  </div>
  <div class="m-16">
    <h1 class="font-bold text-green-brazil text-xl">notre merch en édition limitée</h1>
  </div>
</div>
