<div class="lg:mx-12">
  <div class="lg:m-16 m-8">
    <h1 class="font-bold text-green-brazil text-3xl mb-16">le produit</h1>
    <div class="lg:flex">
      <div class="object-contain">
        <img src="bottle_no_background.png" class="">
      </div>
      <div class="md:m-8 m-4 flex flex-col">
        <h2 class="font-bold text-green-brazil text-lg">praia maté, kézako ?</h2>
        <div class="flex flex-col">
          <div class="my-4 md:m-4">
            <div class="flex inline-flex lg:m-4 m-2">
              <div class="text-white bg-green-brazil w-8 h-8 rounded-full inline-flex items-center justify-center">1</div>
              <h3 class="text-green-brazil text-md ml-4 font-bold inline-flex items-center justify-center"><span>la boisson carioca</span></h3>
            </div>
            <p class="lg:ml-16 ml:12 font-thin">Savourez le maté, emblème des Cariocas, riche en propriétés énergisantes.</p>
          </div>
          <div class="my-4 md:m-4">
            <div class="flex inline-flex lg:m-4 m-2">
              <div class="text-white bg-green-brazil w-8 h-8 rounded-full inline-flex items-center justify-center aspect-square">2</div>
              <h3 class="text-green-brazil text-md ml-4 font-bold inline-flex items-center justify-center">la dose d'énergie qu'il vous faut</h3>
            </div>
            <p class="lg:ml-16 ml:12 font-thin">Boostez votre énergie naturellement avec le maté: riche en caféine douche, antioxydants et vitamines. Il vous accompagne au quotidien sans pics ni fatigues. Une bouteille et vous êtes prêt(e)s à affronter la journée.</p>
          </div>
          <div class="my-4 md:m-4">
            <div class="flex inline-flex lg:m-4 m-2">
              <div class="text-white bg-green-brazil w-8 h-8 rounded-full inline-flex items-center justify-center">3</div>
              <h3 class="text-green-brazil text-md ml-4 font-bold inline-flex items-center justify-center">une alternative saine</h3>
            </div>
            <p class="lg:ml-16 ml:12 font-thin">Oubliez sodas et alcool ! Le maté, sans additifs ni conservateurs, est une boisson rafraîchissante, légère et pleine de saveurs. Idéal pour vos repas, moments entre amis ou pour vous hydrater.</p>
          </div>
        </div>
        <hr class="bg-green-brazil my-4"/>
        <div>
          <h2 class="font-bold text-green-brazil text-lg">ingrédients</h2>
          <p class="font-thin">Maté torréfié, jus de citron vert, sucre de canne, c'est tout !</p>
        </div>
        <hr class="bg-green-brazil my-4"/>
        <div>
          <h2 class="font-bold text-green-brazil text-lg">notes de dégustation</h2>
          <p class="font-thin">Un équilibre subtil entre les notes grillées du maté torréfié, la fraîcheur acidulée du citron vert et la douceur du sucre de canne.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="items-center justify-center w-full flex"> -->
  <!--   <a class="bg-green-brazil text-white p-4 rounded-2xl text-xl m-4" href="https://ulule.com/praiamate">pré-commander</a> -->
  <!-- </div> -->
  <div class="lg:m-16 m-8">
    <h1 class="font-bold text-green-brazil text-xl">le maté est une boisson :</h1>
      <div class="lg:grid lg:grid-cols-3 justify-center text-center md:m-8">
        <div class="flex flex-col items-center lg:m-6 my-6">
          <img src="produit_traditionnelle.png" class="lg:h-42 lg:w-42 w-24 sm:w-32 sm:h-32 h-24 rounded-2xl mb-4">
          <h2 class="text-green-brazil font-bold p-1 py-2">Traditionnelle Sud-Américaine</h2>
          <p class="font-thin">Utilisé par les peuples indigènes guaranis, le maté a une histoire qui remonte à plusieurs siècles. Ces derniers utilisaient traditionnellement les feuilles de yerba maté pour leurs nombreux bienfaits.</p>
        </div>
        <div class="flex flex-col items-center lg:m-6 my-6">
          <img src="produit_bresilienne.png" class="lg:h-42 lg:w-42 w-24 sm:w-32 sm:h-32 h-24 rounded-2xl mb-4">
          <h2 class="text-green-brazil font-bold p-1 py-2">Au centre de la culture brésilienne</h2>
          <p class="font-thin">À Rio le maté se boit froid et sucré, avec une touche de citron vert. On l'achète principalement aux vendeurs de plage, classés au patrimoine de la ville depuis 2012, mais on en trouve également au restaurant ou dans les bars.</p>
        </div>

        <div class="flex flex-col items-center lg:m-6 my-6">
          <img src="produit_bienfaits.png" class="lg:h-42 lg:w-42 w-24 sm:w-32 sm:h-32 h-24 rounded-2xl mb-4">
          <h2 class="text-green-brazil font-bold p-1 py-2">Aux bienfaits nombreux</h2>
          <p class="font-thin">Le maté est reconnu pour ses nombreux bienfaits pour la santé, notamment sa capacité à fournir de l'énergie et à améliorer la concentration. Il contient également des antioxydants, des vitamines et des minéraux bénéfiques pour le corps.</p>
        </div>
      </div>
  </div>
  <div class="lg:m-16 m-8">
    <h1 class="font-bold text-green-brazil text-xl">Le maté do Brasil, qu'est-ce que c'est ?</h1>
    <div class="flex flex-col lg:flex-row items-center">
      <img src="mate_categories.png" class="lg:w-1/2 aspect-square object-contain">
      <div class="font-thin lg:p-8">
        <p>
          Quand on dit maté, beaucoup pensent au maté argentin au gout très amer, fait à base de feuilles vertes de yerba mate et consommé chaud avec la traditionnelle <span class="italic">bombilla</span>.
        </p>
        <br/>
        <p>
          Nous souhaitons vous faire découvrir le <span class="font-bold">maté brésilien</span>, qui lui se boit infusé chaud comme un thé ou bien <span class="font-bold">très frais</span>, avec du citron vert et des glaçons, et auquel la <span class="font-bold">torréfaction</span> apporte des notes plus douces et caramélisées. Après de nombreux essais pour recréer le maté de la plage de Rio que l'on aime tant, nous avons trouvé <span class="font-bold">la recette parfaite</span>, désaltérante et qui marie notes acidulées et torréfiées.
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="lg:m-16 m-8"> -->
  <!--   <h1 class="font-bold text-green-brazil text-xl my-4">notre merch en édition limitée</h1> -->
  <!--   <p class="font-thin">Embarquez pour un voyage unique avec nos packs exclusifs disponibles uniquement sur Ulule ! Au programme : un t-shirt qui vous dévoile, étape par étape, l’art de commander un maté à la plage de Rio – parfait pour afficher votre amour du Brésil avec une touche d’humour et de culture locale. Et ce n’est pas tout ! Découvrez également un livre de recettes brésiliennes qui vous plongera dans les saveurs envoûtantes de ce pays vibrant : des classiques comme la feijoada aux douceurs irrésistibles comme le brigadeiro. Ces packs sont bien plus qu’un simple achat, c’est une invitation à célébrer l’esprit carioca, à partager de bons moments et à soutenir notre campagne Ulule. Alors, prêt(e) à faire partie de l’aventure ? 🌴✨</p> -->
  <!-- </div> -->
</div>
