<div class="flex flex-col">
    <div class="h-[66vh] bg-[url(/background-beach.jpg)] bg-cover bg-center flex justify-between items-center">
      <div class="m-4 lg:m-12 h-full">
          <h1 class="text-green-brazil font-bold text-6xl my-4">praia</h1>
          <h2 class="text-white font-bold text-2xl mb-12">le Brésil en bouteille</h2>
          <div class="hidden sm:block">
            <a class="bg-green-brazil text-white p-4 rounded-2xl text-xl my-4" href="https://ulule.com/praiamate">pré-commander</a>
          </div>
      </div>
      <div class="h-[60vh]">
        <img src="bottle_no_background.png" class="w-full h-full object-contain">
      </div>
  </div>
  <div class="flex sm:hidden justify-center">
    <a class="bg-green-brazil text-white p-4 rounded-2xl text-xl my-4" href="https://ulule.com/praiamate">pré-commander</a>
  </div>
    <div class="">
      <div class="text-center m-8">
        <h1 class="text-green-brazil font-bold">notre vision</h1>
        <p class="font-thin">praia maté incarne l'esprit libre et festif du Brésil à travers des boissons sans alcool rafraichissantes et naturelles, offrant à nos consommateurs une alternative saine et authentique pour des moments de partage et plaisir</p>
      </div>

      <hr class="bg-green-brazil m-12"/>

      <div>
        <h1 class="text-green-brazil font-bold text-center">pour une vie praia : métro, boulot, samba</h1>
        <div class="flex flex-col lg:grid lg:grid-cols-3 gap-4 justify-center text-center p-8">
          <div class="flex flex-col items-center m-4">
            <img src="bresil_bouteille.png" class="h-42 w-42 rounded-2xl">
            <h2 class="text-green-brazil font-bold p-1 py-2">le Brésil en bouteille</h2>
            <p class="font-thin">Découvrez l’énergie de Rio avec notre maté glacé, inspiré des plages et de la culture brésilienne. Infusé avec des feuilles de maté cultivées au cœur du Brésil, cette boisson incarne la fraîcheur et la vitalité de la vida carioca.</p>
          </div>
          <div class="flex flex-col items-center m-4">
            <img src="energie_mate.png" class="h-42 w-42 rounded-2xl">
            <h2 class="text-green-brazil font-bold p-1 py-2">l'énergie du maté</h2>
            <p class="font-thin">Le maté, issu de l’arbre Ilex paraguariensis, est une source naturelle d’énergie utilisée depuis des siècles en Amérique du Sud. Riche en caféine douce, il stimule la concentration sans nervosité.</p>
          </div>

          <div class="flex flex-col items-center m-4">
            <img src="boisson_naturelle.png" class="h-42 w-42 rounded-2xl">
            <h2 class="text-green-brazil font-bold p-1 py-2">un plaisir 100% naturel</h2>
            <p class="font-thin">Notre maté est authentique : sans arômes artificiels, uniquement des ingrédients simples et naturels.</p>
          </div>
        </div>
      </div>
      <hr class="bg-green-brazil mx-12 my-8"/>

      <div class="m-8">
        <h1 class="text-green-brazil font-bold text-center">alors, un Matezhino ? pré-commande ton maté en exclusivité dans toute la France !</h1>
        <p class="font-thin mb-8 mt-4">C’est le moment de découvrir notre maté brésilien dans toute sa fraîcheur, et quoi de mieux que de rejoindre notre aventure dès le départ ? En pré-commandant sur Ulule, vous serez les premiers à savourer notre boisson unique, pleine de l'énergie du Brésil et 100% naturelle. En plus, en soutenant notre projet, vous bénéficiez d’offres exclusives et de cadeaux réservés aux premiers fans. Alors, êtes-vous prêts à embarquer pour un voyage gustatif sous le soleil de Rio ? Cliquez sur le lien, pré-commandez votre Matezhino et soyez les pionniers de cette nouvelle vague de fraîcheur et de bien-être !</p>
        <div class="flex justify-center">
          <a class="bg-green-brazil text-white p-4 rounded-2xl text-xl my-4" href="https://ulule.com/praiamate">pré-commander</a>
        </div>
      </div>
    </div>
</div>
