<div class="">
    <div class="bg-[url('/background-beach.jpg')] bg-contain bg-no-repeat">
      <h1 class="text-green-brazil font-bold text-4xl my-2">praia</h1>
      <h2 class="text-white font-bold text-lg mb-4">le Brésil en bouteille</h2>
      <a class="bg-green-brazil text-white p-2 rounded-md text-sm">pré-commander</a>
    </div>
    <div class="mx-12">
      <div class="text-center m-8">
        <h1 class="text-green-brazil font-bold">notre vision</h1>
        <p class="font-thin">praia maté incarne l'esprit libre et festif du Brésil à travers des boissons sans alcool rafraichissantes et naturelles, offrant à nos consommateurs une alternative saine et authentique pour des moments de partage et plaisir</p>
      </div>

      <hr class="bg-green-brazil m-12"/>

      <div>
        <h1 class="text-green-brazil font-bold text-center">pour une vie praia : métro, boulot, samba</h1>
        <div class="flex justify-center text-center p-8">
          <div class="flex flex-col items-center m-4">
            <img src="brazil.jpg" class="h-42 w-42 rounded-2xl">
            <h2 class="text-green-brazil font-bold p-1 py-2">le Brésil en bouteille</h2>
            <p class="font-thin">Plongez dans l’énergie vibrante de Rio avec notre maté glacé, directement inspiré des plages, du soleil et de la culture brésilienne. Infusé à partir de feuilles de maté cultivées au cœur du Brésil, notre boisson capture l’essence même de la vida carioca : fraîche, naturelle et pleine de vitalité. C’est une invitation à savourer l’esprit du Brésil à chaque gorgée — un concentré de fraîcheur et d’énergie à boire bien frais, comme là-bas. Plus qu’une boisson, c’est un aller simple pour Rio, en bouteille.</p>
          </div>
          <div class="flex flex-col items-center m-4">
            <img src="mate.jpg" class="h-42 w-42 rounded-2xl">
            <h2 class="text-green-brazil font-bold p-1 py-2">l'énergie du maté</h2>
            <p class="font-thin">Le maté, issu des feuilles de l’arbre Ilex paraguariensis, est une source naturelle d’énergie plébiscitée depuis des siècles en Amérique du Sud. Riche en caféine, il stimule la concentration et améliore la vigilance sans provoquer les pics de nervosité souvent associés au café. Grâce à sa combinaison unique de xanthines, d'antioxydants, de vitamines et de minéraux, le maté offre un regain d’énergie à la fois puissant et durable. Il favorise une sensation d’éveil mental équilibrée, idéale pour affronter les journées intenses, les sessions de travail ou les moments de sport.</p>
          </div>

          <div class="flex flex-col items-center m-4">
            <img src="nature.jpg" class="h-42 w-42 rounded-2xl">
            <h2 class="text-green-brazil font-bold p-1 py-2">un plaisir 100% naturel</h2>
            <p class="font-thin">Notre maté est authentique : sans sucres ajoutés, sans arômes artificiels, uniquement des ingrédients simples et naturels. Infusé à chaud à partir de feuilles de maté brésilien soigneusement sélectionnées, il révèle toute la richesse d’un goût rond et rafraîchissant en étant naturellement vivifiant et délicieusement désaltérant. <br>Chaque bouteille est un concentré de nature, d’énergie et de plaisir, pensé pour ceux qui veulent se faire du bien sans compromis. </p>
          </div>
        </div>
      </div>

      <hr class="bg-green-brazil mx-12 my-8"/>

      <div class="m-8">
        <h1 class="text-green-brazil font-bold text-center">alors, un matezinho ? pré-commande ton maté en exclusivité dans toute la France !</h1>
        <p class="text-thin mb-8 mt-4">C’est le moment de découvrir notre maté brésilien dans toute sa fraîcheur, et quoi de mieux que de rejoindre notre aventure dès le départ ? En pré-commandant sur Ulule, vous serez les premiers à savourer notre boisson unique, pleine de l'énergie du Brésil et 100% naturelle. En plus, en soutenant notre projet, vous bénéficiez d’offres exclusives et de cadeaux réservés aux premiers fans. Alors, êtes-vous prêts à embarquer pour un voyage gustatif sous le soleil de Rio ? Cliquez sur le lien, pré-commandez votre Matezhino et soyez les pionniers de cette nouvelle vague de fraîcheur et de bien-être !</p>
        <a class="bg-green-brazil text-white p-2 rounded-md text-sm">pré-commander</a>
      </div>
    </div>
</div>
