<div>
  <div class="bg-[url('/assets/background-beach.jpg')]">
    <h1>onda maté</h1>
    <h2>le Brésil en bouteille</h2>
    <a>pré-commander</a>
  </div>
  <div>
    <h1>notre vision</h1>
    <p>onda maté incarne l'esprit libre et festif du Brésil à travers des boissons sans alcool rafraichissantes et naturelles, offrant à nos consommateurs une alternative saine et authentique pour des moments de partage et plaisir</p>
  </div>

  <hr/>

  <div>
    <h1>pour une vie onda : métro, boulot, samba</h1>
    <div>
      <div>
        <img>
        <h2>le Brésil en bouteille</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
      </div>
      <div>
        <img>
        <h2>l'énergie du maté</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
      </div>
      <div>
        <img>
        <h2>un plaisir 100% naturel</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus</p>
      </div>
    </div>
  </div>

  <hr/>

  <div>
    <h1>alors, un matezinho ? pré-commande ton maté en exclusivité dans toute la France !</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
    <a>pré-commander</a>
  </div>
</div>
